<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brands</key>
	<array>
		<dict>
			<key>brandName</key>
			<string>BMW</string>
			<key>brandLogo</key>
			<string>ic_bmw</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Chevrolet</string>
			<key>brandLogo</key>
			<string>ic_chevrolet</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Ford</string>
			<key>brandLogo</key>
			<string>ic_ford</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Honda</string>
			<key>brandLogo</key>
			<string>ic_honda</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Hyundai</string>
			<key>brandLogo</key>
			<string>ic_hyundai</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>KIA</string>
			<key>brandLogo</key>
			<string>ic_kia</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Lexus</string>
			<key>brandLogo</key>
			<string>ic_lexus</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Mazda</string>
			<key>brandLogo</key>
			<string>ic_mazda</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Mercedes</string>
			<key>brandLogo</key>
			<string>ic_mercedes</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Mitsubishi</string>
			<key>brandLogo</key>
			<string>ic_mitsubishi</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Toyota</string>
			<key>brandLogo</key>
			<string>ic_toyota</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Suzuki</string>
			<key>brandLogo</key>
			<string>ic_suzuki</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>Audi</string>
			<key>brandLogo</key>
			<string>ic_audi</string>
		</dict>
		<dict>
			<key>brandName</key>
			<string>others</string>
			<key>brandLogo</key>
			<string>ic_others</string>
		</dict>
	</array>
</dict>
</plist>
